body {
  background-color: rgb(250,250,250);
  font-family: 'Karla', sans-serif;
  min-width: 1300px;
}

nav {
  width: 100%;
  height: 70px;
  background: white;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #edeeee;
  text-align: center;
  font-weight: bold;
  min-width: 1300px;
  padding: 5px 0 10px 0;
}

h1 {
  font-size: 35px;
}

article {
  position: relative;
}

#all-links {
  text-align: center;
  /*left: 18%;
  top: 130px;*/
}

#search-keywords {
  position: relative;
  top: 100px;
  left: 40%;
  width: 270px;
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: dotted 1px #585858;
  outline: none;
  font-size: 15px;
  font-style: italic;
  margin-right: 400px;
  text-align: center;
}

li {
  list-style: none;
  border: 1px dotted #B8B8B8 ;
  border-radius: 6px;
  height: 35px;
  width: 60%;
  padding-top: 10px;
  overflow-x: scroll;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #585858;
}
